
.container{
    /* background-image:url('./flag_world.jpg') ;
    background-repeat: no-repeat; */
    background: linear-gradient(to bottom, #035, #000);
    background-size: cover;
    display: flex;
    height: 100vh;
    flex-flow: column wrap;
    justify-content: space-around;
    color: #fff;
    font-family:monospace;
    font-weight:400;
    font-size: 17px;
}

.form{
    background: linear-gradient(to top, #777, #111);
    width: 520px;
    border-radius: 8px;
    align-self: center;
    border: #000 solid 3px;
    border-bottom: rgba(196, 148, 29, 0.589) solid 3px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    padding: 8px;
}
.form div{
    margin-top: 30px;
    height: max-content;
}

.form input{
    background: linear-gradient(to bottom, #555, #111);
    border :none;
    border-bottom: #035 solid 2px;
    outline: none;
    color: #fff;
    border-radius: 5px;
}
.form input:hover{
    border-bottom: #039 solid 2px;

}

.form input::placeholder{
    background: linear-gradient(to bottom, #555, #222);
    
}
.form option{
    background: linear-gradient(to bottom, #555, #222) !important;
    color:#222
}
.form select{
    border-bottom: #035 solid 2px;
}
.form select:hover{
    border-bottom: #039 solid 2px;
}

.form button{
    margin-top: 20px;
    border-radius: 10px;
    border:none;
    background: linear-gradient(to bottom, #444, #111);
    color:darkgoldenrod;
    font-size: 16px;
    border-bottom: #035 solid 3px;
    margin-left:2px;
    padding:3px
    

}

.addhome{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 10px;
}

.form button:hover{
    background: linear-gradient(to bottom, #444, #035);
    color:gold;
}
.form button:disabled{
    background: linear-gradient(to bottom, #035, #000);
    color:#000
}

.form h6{
    margin: 0;
    color:#D00;
}

@media (max-width:580px){
    .form{
        width: 100%;
        border-radius: 0;
        box-sizing: border-box;
        
    }
    .form div {
        width: 100%;
    }
    .container{
        width: 100%;
    }
}