.loading{
    display: flex;
    background-image: url('Cargando.gif');
    background-repeat:no-repeat ;
    background-size:contain;
    height: 600px;
    width: 88vw;
    align-items: flex-end;
    justify-content: center;
    color: goldenrod;
    align-content: center;
    border-radius: 8px;
    background-position: center;
    
    
    
}
.container {
    display: flex;
    background-color: #073d57; 
    border-radius: 10px;
    
    justify-content: center;
    height: 600px;
    
  
}