.container {
    display: flex;
    background-image:none;
/*     background-repeat: no-repeat;
    background-size: cover; */
    flex-direction: column-reverse;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    align-content: stretch;

    
}

body{
    background-image: url('./planeta.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
}
@media (min-width: 800px) {
    body{
        background-size: 1645px;
    }
    
}
    

.containerCountries {
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items:flex-end;
    align-content:space-between ;
    margin-top: -10px;
    width:100%;
    
    

    


}

.boton{
    padding-bottom: 30px;
    padding-top: 10px;
    
    
}

.boton button{
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    color: white;
    border-color: goldenrod;
    font-family: OpenSans;
    border-radius: 5px;
    box-shadow: 0px 3px 0px rgba(218, 165, 32, 0.623);
    padding: 3px;
    margin-top: 10px;
    margin-right: 5px;
    padding-left: 5px;
    text-align: center;
}
.boton button:hover{
    color: white;
    background-color: goldenrod;
}

.subContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 82vh;
}

.filtros{
    padding-bottom: 20px;
  
}

.activo{
background-color: goldenrod!important; 
}
